
:root {
--primary:#6EADA4;
--secondary:#9E6637;
--primary_dark:#48726B;
--primary_light:#7CA7A0;
--white : #DADADA;
}

@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@500&family=Tourney:wght@100;400&display=swap');



body {
  background-image: url('./assets/background.jpg'); 
  background-size: cover; 
  background-color: rgba(0,0,0,0.5);
  background-blend-mode: multiply;
 
}


body::-webkit-scrollbar {
  display: none;
}


.app-body{
  display: flex;
  flex-direction: row;
}
.pages-container{
  width: 100%;
  height: 100%;
  margin-top: 60px;
  padding-left:20px;
  padding-top:10px;
  padding-right:20px;

}
