.about_description_container {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: center;
}

.about_page_titles{
  font-size: 70px;
  font-family: 'Tourney', cursive;
  letter-spacing: -2px;
  margin-bottom: 20px;
}

.description_and_logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.leap_logo {
  height:250px;
  width: 250px;
  margin-right: 30px; 
  border-radius: 50%;
}

.description {
  flex: 1;
  text-align: left;
  text-align: center;
}



.team_members_container{
  margin-top: 40px;
}

.team_members {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.member_card {
  background-image:url(../assets/background.jpg);
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.8);
  background-blend-mode: multiply;
  margin:10px;
  width: 350px; 
  padding: 30px;
  border-radius: 20px;
  justify-content: center;
  text-align: center;
  box-shadow: 0px 0px 25px rgba(110, 173, 164, 1);
 
}

.task_description_box {
  background-image:url(../assets/background.jpg);
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.8);
  background-blend-mode: multiply;
  margin-top: 40px;
 position: relative;
 width: 50%;
  padding: 30px;
  left: 50%;
  border-radius: 20px;
  transform: translate(-50%);
  justify-content: center;
  text-align: center;
  box-shadow: 0px 0px 25px rgba(110, 173, 164, 1);
 
}

.member_emoji{
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 70px;
}
  

.task_description_container{
  margin-top: 40px;
}


  