form{
    background-image:url(../assets/background.jpg);
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 50px;
    margin: 30px;
    left: 50%;
    max-width: 60%;
    transform: translate(-50%);
    justify-content: center;
    border-radius: 20px;
    box-shadow: 0px 0px 25px rgba(110, 173, 164, 0.5);
}

form>input{
    width:70%;
    margin-bottom: 10px;
}

form>button{
    width:20%;
}


.survey-questions-list{
   padding: 10px 10px 10px 10px;
   display: flex;
   flex-direction: column;
   width: 100%;
}

.survey-questions>input{
    align-items: center;
    margin: 5px;
    border-radius: 3px;
    width: 60%;
}

.create-survey-form-button{
    align-self: flex-end;
    border-radius: 10px;
    margin: 5px;
}