.header {
    z-index: 1;
    font-size: 1.2rem;
    height:60px;
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    background-color: transparent;
    backdrop-filter: blur(5px) opacity(1);
    box-shadow: 0 0 20px rgba(114, 175, 168, 0.8);
    
  }

  .header::before{
    content: "";
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 1;
  }

  .header-left {
    display: flex;
    align-items: center;
  }
  
  .header-right {
    display: flex;
    align-items: center;
    margin-right: 20px;
    color: var(--primary_light);
    font-size: 50px;
    font-family: 'MuseoModerno', cursive;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  .header-left >a {
    font-family: 'MuseoModerno', cursive;
    text-decoration: none;
    margin-bottom: 0.1rem;
    margin-right: 20px;
    margin-left: 20px;
    color: var(--primary_light);
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 25px;
 
  }

  

