.header {
    z-index: 1;
    font-size: 1.2rem;
    height:60px;
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: var(--sgreen);
    justify-content: space-between;
  
  }

  .header-left {
    display: flex;
    align-items: center;
  }
  
  .header-right {
    display: flex;
    align-items: center;
  }

  .header-left >a {
    font-family: "Antonio", sans-serif;
    text-decoration: none;
    margin-bottom: 0.1rem;
    margin-right: 20px;
    margin-left: 20px;
    color: var(--pblue);
    text-transform: uppercase;
    letter-spacing: 0.2rem;
 
  }

  .header-left >a > span {
    font-size: 3rem;
    margin-right: -0.1rem;
    font-family: "Krona One", sans-serif;
    transition: 1s;
  }

  .header-left > a:hover span {
    color: var(--pgreen);
    transition: 1s;
    font-size: 3rem;
    margin-right: -0.1rem;
    font-family: "Krona One", sans-serif;
    transition: 1s;
  }

  .header-right>img{
    padding-right: 10px;
    height: 50px;
    width: 100px;
  }
 