/* font-family: 'MuseoModerno', cursive;
font-family: 'Tourney', cursive; */

*{
    /* border: 2px solid red; */
text-align: justify;
color:brown;
font-family: 'MuseoModerno', cursive;
}

.home{
    position: relative;
    justify-content: center;
}

.home-welcome{
    font-family: 'Tourney', cursive;
    font-size: 70px;
    letter-spacing: -2px;
}

.home-welcome-follow{
    margin-left: 200px;
    font-size: 20px;
}

.home-welcome-description{
    margin-top: 30px;
    left: 50%;
    transform: translate(-50%);
    position: relative;
    padding: 10px;
    text-align: center;
    width: 400px;
    font-size: 17px;
}

.home-welcome-description>span{
   font-size: 30px;
}

.home-button{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-button>button{
    color:var(--white);
    background-color: var(--secondary);
    padding:10px;
    border-radius: 20px;
    border: none;
    font-size: 20px;
    box-shadow: 0px 0px 5px rgba(110, 173, 164, 0.5);
    transition: box-shadow 0.2s ease-in-out;
    text-decoration: none;
}

.home-button-link{
    text-decoration: none;
}

.home-button>button:hover {
    box-shadow: 0px 0px 10px 5px rgba(110, 173, 164, 0.8);
  }